* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background: #ff8375;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.menu {
    background: #2aab8e;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.lang {
    float: right; 
}

.lang a {
    color: white;
    text-decoration: none;
    margin-left: 10px; 
}

.img{
    width: 270px;
}

.img2{
    width: 270px;
}

.img3{
    width: 670px;
} 

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 30%;
    background: #f4f4f4;
    padding: 15px;
}

.main-content {
    width: 70%;
    padding: 15px;
}

footer {
    background: #c4c4c4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}