body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, sans-serif;
}

header, footer{
    background-color: rgb(244, 243, 243);
    padding: 55px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
}

nav, article, aside {
    padding: 20px;
}

article {
    background-color: #a9a9a9;
}

header{
    font-size: 30px;
    font-weight: bold;
}

nav, aside{
    background-color: rgb(219, 219, 219);
}

header{
    background-color: rgb(212, 211, 211);
}